@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'PT_Sans';
    src: url('/fonts/PT_Sans/PT_Sans-Web-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu/Ubuntu-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    /* font-family: 'Open_Sans'; */
    box-sizing: border-box;
}